[Unit]
Description=TouchDLP service
Before=dhcpcd.service

[Service]
WorkingDirectory=/home/pi/nextion
ExecStart=/usr/bin/node /home/pi/nextion/bin/index.js

[Install]
WantedBy=multi-user.target
